/*_*_*_*_* Fonts Import *_*_*_*_*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*          HOW TO USE THE FONTS
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
*/

/*_*_*_*_* Reset *_*_*_*_*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*_*_*_*_* Adding Colours to :root *_*_*_*_*/
:root {
    /* Primary */

    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    /*_* Paragraphs *_*/
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*_* Background, Headings, Buttons *_*/
    --very-light-gray: hsl(0, 0%, 95%);
}

/*_*_*_*_* Body Styling *_*_*_*_*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*_*_*_*_* Main Container Styling *_*_*_*_*/
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 57.5rem;
    height: 31.25rem;
    border-radius: 0.5rem;
}

/*_*_*_*_* All Box Styling *_*_*_*_*/
.container > .box > .text {
    color: var(--transparent-white);

    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.563em;
    font-size: 0.938em;

    margin: 1.563rem 0 0 2.969rem;
    width: 13.25rem;
}

.container > .box > .title {
    color: var(--very-light-gray);

    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5em;

    margin: 2.188rem 0 0 3rem;
}

.container > .box > .car_img {
    height: 2.5rem;

    margin: 3rem 0 0 3rem;
}

.container > .box > .butt {
    width: 9.125rem;
    height: 3rem;

    border: none;
    border-radius: 1.563rem;

    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.563em;
    font-size: 0.938em;

    margin: 5.188rem 0 0 3rem;
}

.container > .box > .butt:hover {
    background-color: transparent;
    border: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
}

/*_*_*_*_* Orange / Left Box Styling *_*_*_*_*/
.container > .orange {
    background-color: var(--bright-orange);
    border-radius: 0.5rem 0 0 0.5rem;
}

.container > .orange > .butt {
    color: var(--bright-orange);
}

/*_*_*_*_* Dark-Cyan / Middle Box Styling *_*_*_*_*/
.container > .dark_cyan {
    background-color: var(--dark-cyan);
}

.container > .dark_cyan > .butt {
    color: var(--dark-cyan);
}

/*_*_*_*_* Very-Dark-Cyan / Right Box Styling *_*_*_*_*/
.container > .very_dark_cyan {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0.5rem 0.5rem 0;
}

.container > .very_dark_cyan > .butt {
    color: var(--very-dark-cyan);
}
